<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.rongzi.controller" />

    <!--自动注册 RequestMappingHandlerMapping 和 RequestMappingHandlerAdapter 两个Bean-->
    <!--这两个类提供了数据转化（JSON，xml等），数据格式化，数据校验等功能-->
    <mvc:annotation-driven/>

    <!--Spring MVC 默认使用的是 MappingJackson2HttpMessageConverter 转换器， 所以必须加入Jackson的依赖，但是实际中，更多使用fastjson-->
    <!--<mvc:annotation-driven>-->
        <!--<mvc:message-converters register-defaults="false">-->
            <!--&lt;!&ndash;下面4个转换器不配置也没有关系，不影响测试&ndash;&gt;-->
            <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter" />-->
            <!--<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>-->
            <!--<bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>-->
            <!--<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>-->
            <!--&lt;!&ndash;配置 fastjson 中实现的 HttpMessageConverter 转换器&ndash;&gt;-->
            <!--<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">-->
                <!--&lt;!&ndash;加入支持的媒体类型：返回ContentType&ndash;&gt;-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--&lt;!&ndash;这里不能写反，否则 IE 会提示下载&ndash;&gt;-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                        <!--<value>application/json;charset=UTF-8</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

    <!--使用默认的 Servlet 来响应静态文件，因为 DispatcherServlet 会截获所有URL请求，找不到时，会报 404 错误，
    加上默认servlet后，servlet 在找不到时会去找静态文件内容-->
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>